*{
    font-family: 'Poppins', sans-serif;
    padding: 0px;
    margin: 0px;
}

body{
    background-color: #202020;
}

.navbar{
    background-image: url(Images/3.jpg);
    background-size: cover;
    aspect-ratio: 3105 / 1782;
    color: #f2e9e4;
    width: 100%;
}

ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding-top: 1.5%;
}

li a{
    display: block;
    margin-bottom: 1px;
    text-decoration: none;
    text-transform: uppercase;
    color: #f2e9e4;
    transition: all 0.1s ease;
}

li a:hover:not(.active){
    /* background-color: #9a8c98;
    border-style:solid;
    border-width: 2px;
    border-color: #f2e9e4; */
    color: #22223b;
}

h6{
    font-size: 2vw;
}

.heading{
    font-size: 5vw;
    color: #f2e9e4;
    animation: textSlide 1s ease-out;
    padding-left: 62%;
    padding-top: 13%;
}

main{
    margin: 6vw 4vw 4vw 4vw;
    font-size: 3vw;
    color: #f2e9e4;
}

h2{
    padding-left: 2vw;
}

.container{
    display: grid;
    gap: 2vw;
    margin-top: 3vw;
    margin-bottom: 7vw;
}

.container-content{
    font-size: 1.5vw;
    padding: 2vw;
    background-color: #161616;
    border:#272727 solid 2px;
    border-radius: 1vw;  
}

.sub{
    font-size: 0.6em;
}

.link{
    font-size: 1vw;
    text-decoration: none;
    padding: 0.3vw;
    color: #f2e9e4;
    background-color: #202020;
    border: #272727 solid 2px;
    border-radius: 0.5vw;
    
}

@keyframes textSlide {
    from{ transform: translate(-100vw);}
    to{ transform: translate(0px);}
    
} 

@media (max-width : 767px){

    .container{
        place-items: center;
    }

    .container-content{
        width: 90%;
    }
  
}

@media (min-width : 768px){

    .container{
        grid-template-columns: repeat(3, 1fr);
    }

}

/* button{
    background-color: aqua;
    animation: changeColor 2s ease infinite;
}

 @keyframes changeColor {
    from{ background-color: black;}
    to{ background-color: white;} 
    from{ color: white;}
    to{ color: black;}    
} */

/*.active{
    color: #22223b;
    border-style:solid;
    border-width: 2px;
    border-color: #f2e9e4; 
} */





















/* h1:hover{
    color: gray
}

.in{
    margin-top: 10px;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    border-color: black;
    height: 20px;
    width: 300px;
}

.form{
    padding: 256px 0px 0px 10px;
}

.traffic{
    margin-top: 10px;
    margin-left: 10px;
    height: 80%;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-evenly;
    background-color: black;
}

.red{
    padding: 150px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: red;
}

.blue{
    padding: 100px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: blue;
}

.green{
    padding: 100px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: green;
}

.yellow{
    padding: 100px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: yellow;
}

.pink{
    padding: 100px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: pink;
}

.loader{
    margin: 25px 0px 25px 25px;
    height: 100px;
    width: 100px;
    border: 25px solid white;
    border-top: 25px solid black;
    border-radius: 50%;
    animation: rotate 1s ease infinite;
}

@keyframes rotate {
    from{ transform: rotate(0deg);}
    to{ transform: rotate(360deg);}
    
} */

